@model ScramWebApp.Models.TaskModel

@{
    ViewData["Title"] = "Удалить";
}

<h1>Удалить задачу</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Backlog)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Backlog.Name)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusScrumcs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusScrumcs)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Назад</a>
    </form>
</div>
